<h1><%= single_bike[:brand] %></h1>
Model: <%= single_bike[:model] %><br>
Year: <%= single_bike[:year_made] %>
<br>
<br>
<br>
<a href="/bikes/<%= single_bike[:id] %>/edit">Edit this bike</a>
<form action="/bikes/<%= single_bike[:id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Bike" id="button2">
</form>

<a href="/">Go back to list of bikes</a>