<h1><%= single_bike[:brand] %></h1>
Model: <%= single_bike[:model] %><br>
Year: <%= single_bike[:year_made] %>
<br>
<br>
<br>
<form action="/bikes/<%= single_bike[:id] %>/edit" method="get">
  <input type="submit" value="Edit this Bike" id="button2">
</form>
<form action="/bikes/<%= single_bike[:id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Bike" id="button2">
</form>
<br>
<a href="/">Go back to list of bikes</a>